---
---

@charset "utf-8";

@import "minimal-mistakes/skins/dark";
@import "minimal-mistakes";

// Force everything after import
* {
  font-family: "Inter", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Space Grotesk", sans-serif;
}

a {
  color: #AAFF00 !important;
}

.nav__list a,
.greedy-nav a,
.site-title {
  color: #AAFF00 !important;
}